/*Header styles*/
.header {
    background: rgb(3, 1, 42);
    background: linear-gradient(90deg, rgba(3, 1, 42, 0.85) 0%, rgba(34, 123, 164, 1) 72%, rgba(237, 197, 141, 1) 100%);
    color     : whitesmoke;
}


/*Styles for Sidebar*/

#weatherInfo {
    padding      : 20px;
    margin-top   : 20px;
    margin-bottom: 25px;
    background   : rgb(34, 123, 164);
    background   : radial-gradient(circle, rgba(34, 123, 164, 0.85) 0%, rgba(3, 1, 42, 1) 100%);
    color        : whitesmoke;

}

.is-dropdown-submenu-parent {
    margin: 0 auto;
}

.stationsDropdn {
    margin    : 15px;
    padding   : 20px;
    align-self: center;
}

#stationsBtn {
    width     : 350px;
    align-self: center !important;
    padding   : 20px;
    background: rgb(34, 123, 164);
    background: radial-gradient(circle, rgba(34, 123, 164, 0.85) 0%, rgba(3, 1, 42, 1) 100%);
    color     : whitesmoke;
}

#theYouTubes {
    margin-top   : 25px;
    margin-bottom: 25px;
}

/*styling for Planner section*/
.buttonSave {
    background: rgb(34, 123, 164);
    background: radial-gradient(circle, rgba(34, 123, 164, 0.85) 0%, rgba(3, 1, 42, 1) 100%);
}

.input-group {
    margin-bottom: 0;
}

.input-group>:last-child>* {
    border-radius: 0px 15px 15px 0px;
}

.input-group-label:first-child {
    border-radius: 15px 0px 0px 15px;
}


/*styling for background img*/
.clear {
    background-image: url(../images/sunny.jpg);
}

.fewClouds {
    background-image: url(../images/02fewclouds.jpg);
}

.scatteredClouds {
    background-image: url(../images/03scatteredclouds.jpg);
}

.brokenClouds {
    background-image: url(../images/04brokenclouds.jpg);
}

.showerRain {
    background-image: url(../images/09showerrain.jpg);
}

.rain {
    background-image: url(../images/10rain.jpg);
}

.thunderStorm {
    background-image: url(../images/11thunderstorm.jpg);
}

.snow {
    background-image: url(../images/13snow.jpg);
}

.mist {
    background-image: url(../images/50mist.jpg);
}